/* Timeline */
.timeline {
  border-left: 4px solid #ffffff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.5px;
  position: relative;
  list-style: none;
}

.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

/* .timeline .event:before {
  left: -217.5px;
  color: rgba(255, 255, 255, 0.8);
  content: attr(data-date);
  text-align: right;
  font-weight: 500;
  font-size: 1rem;
  min-width: 120px;
} */

.timeline .event:after {
  box-shadow: 0 0 0 4px #ff3860;
  left: -18px;
  background: #ffffff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: '';
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  .timeline .event:after {
    left: -47px;
    transform: translate(0, -50%);
  }
}
