.card-skills {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border: 2px solid #FFFFFF;
    transition-duration: 0.3s;
}

.card-skills::after {
    position: absolute;
    content: attr(data-skill);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #EBF8F5;
    transition: all 0.3s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.card-skills:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
}
