@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0e3494;
  --swiper-theme-color: #09090b;
  --swiper-navigation-color: #ffffff;
  --swiper-navigation-size: 32px !important;
}

@media (min-width: 768px) {
  :root {
    --swiper-navigation-size: 40px !important;
  }
}

@layer base {
  * {
    @apply transition-all duration-100;
  }

  body {
    @apply scroll-smooth;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    color: #000000;
    font-family: 'Roboto', sans-serif;
  }
}

.hamburger-icon {
  width: 20px;
  height: 14px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #666666;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger-icon span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger-icon span:nth-child(3) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 4px;
}

.hamburger-icon.open {
  width: 24px;
}

.hamburger-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
  left: 4px;
}

.bg-shape {
  position: relative;
}

.bg-shape::before,
.bg-shape::after {
  position: absolute;
  content: '';
  will-change: border-radius, transform, opacity;
  --tw-border-opacity: 1;
  border-color: rgb(20 190 140 / var(--tw-border-opacity));
  border-style: solid;
  border-width: 1px;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  animation: sliderShape 5s linear infinite;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-shape::after {
  left: -5%;
  bottom: 15%;
}

.bg-shape::before {
  left: -5%;
  bottom: 5%;
}

@media screen and (min-width: 1024px) {
  .bg-shape::after {
    width: 480px;
    height: 460px;
  }
}

@keyframes sliderShape {
  0%,
  100% {
    content: '';
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    content: '';
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    content: '';
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    content: '';
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
