@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0E3494;
  --swiper-theme-color: #09090b;
  --swiper-navigation-color: #ffffff;
  --swiper-navigation-size: 32px !important;
}

@media (min-width: 768px) {
  :root {
    --swiper-navigation-size: 40px !important;
  }
}

@layer base {
  * {
    @apply transition-all duration-100
  }

  body {
    @apply scroll-smooth;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    color: #000000;
    font-family: 'Roboto', sans-serif;
  }
}
